# Dependencies
node_modules/

# Environment & secrets
.env
.env.local
.env.production
*.pem

# AWS artifacts
function.zip
*.zip
cdk.out/

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
frontend/.env
